In [13]:
# import packages
!pip install wbgapi
import wbgapi as wb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: wbgapi in /usr/local/lib/python3.12/dist-packages (1.0.12)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from wbgapi) (2.32.4)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.12/dist-packages (from wbgapi) (6.0.3)
Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (2026.1.4)

In [14]:
# Define Economies: CHN (China), UMC (Upper Middle Income), WLD (World)
country_codes = ['CHN', 'UMC', 'WLD']

indicators = {
    'NY.GDP.PCAP.KD': 'GDP_Per_Capita_Const',     # Standard of Living
    'SL.TLF.CACT.ZS': 'Labor_Part_Rate',          # Labor Supply
    'SL.UEM.TOTL.ZS': 'Unemployment_Rate',        # Labor Friction
    'SL.TLF.TOTL.IN': 'Labor_Force_Total',        # Total Workers
    'NY.GDP.MKTP.KD': 'GDP_Const',                # Economic Size
    'FP.CPI.TOTL.ZG': 'Inflation_CPI',            # Stability
    'NY.GDS.TOTL.ZS': 'Gross_Dom_Savings',        # Savings
    'NE.GDI.TOTL.ZS': 'Gross_Cap_Formation',      # Investment
    'NE.EXP.GNFS.ZS': 'Exports_GDP',              # Exports
    'NE.IMP.GNFS.ZS': 'Imports_GDP',              # Imports
    'GC.TAX.TOTL.GD.ZS': 'Tax_Rev_GDP',           # Gov Revenue
    'NE.CON.GOVT.ZS': 'Gov_Exp_GDP'               # Gov Spending
}

In [15]:
## Fetch data through API, transpose and format dataframe, focus in on target (CHN)
# 1. Fetch Data
print("Fetching data...")
df_raw = wb.data.DataFrame(indicators, economy=country_codes, time=range(2000, 2025))

# 2. Transpose (Flip Rows/Cols)
df = df_raw.T

# 3. Clean Index
df.index = df.index.str.replace('YR', '').astype(int)
df.index.name = 'Year'
df = df.sort_index()

# 4. Rename Columns
df.rename(columns=indicators, level=1, inplace=True)

# 5. Extract China for specific calculations
df_gtm = df.xs('CHN', axis=1, level=0).copy()

Fetching data...

In [16]:
df_gtm

series,Inflation_CPI,Tax_Rev_GDP,Gov_Exp_GDP,Exports_GDP,Gross_Cap_Formation,Imports_GDP,GDP_Const,GDP_Per_Capita_Const,Gross_Dom_Savings,Labor_Part_Rate,Labor_Force_Total,Unemployment_Rate
Year,,,,,,,,,,,,
2000,0.347811,NaN,16.983455,20.681599,33.632683,18.329343,2.825096e+12,2237.442985,36.265233,74.190,706837950.0,3.260
2001,0.719126,NaN,16.565574,20.077687,35.523858,18.004960,3.059936e+12,2405.893967,37.865837,73.878,715928584.0,3.800
2002,-0.731971,NaN,16.223333,22.351823,36.068782,19.842619,3.342778e+12,2610.729603,38.792525,73.563,725938760.0,4.240
2003,1.127603,NaN,15.463135,26.602374,39.428013,24.475106,3.681007e+12,2857.037354,41.731545,73.246,735682023.0,4.580
2004,3.824637,NaN,14.776896,30.609716,41.634374,28.030618,4.053945e+12,3127.862765,44.476216,72.927,744936890.0,4.490
2005,1.776414,8.452438,14.980030,33.368798,40.178087,27.991277,4.518455e+12,3465.817344,45.206956,72.605,754465388.0,4.520
2006,1.649431,8.929483,15.032950,35.526847,39.689700,28.042733,5.091155e+12,3883.354129,46.966282,72.280,761948735.0,4.430
2007,4.816768,9.625737,14.843586,34.906696,40.222088,26.359768,5.811553e+12,4409.757008,48.538094,71.954,766486940.0,4.350
2008,5.925251,9.943414,14.728917,32.092514,41.960725,24.618619,6.373544e+12,4811.474718,49.728908,71.625,769779554.0,4.590
2009,-0.728165,10.134850,14.993191,24.330772,44.928264,20.088993,6.972829e+12,5237.766665,49.427933,71.294,772141043.0,4.720
2010,3.175325,10.038280,14.837784,26.722745,46.102344,23.131327,7.711689e+12,5764.865350,50.559149,70.960,773873234.0,4.530
2011,5.553899,10.151200,15.511543,26.151883,46.270301,23.793944,8.441318e+12,6275.909564,49.238926,70.860,778275581.0,4.550
2012,2.619524,10.089467,15.904770,25.076704,45.816921,22.403509,9.104483e+12,6723.194438,48.384506,70.410,779022561.0,4.580
2013,2.621050,9.732163,15.946284,24.163343,45.922409,21.752698,9.812695e+12,7198.068765,47.924777,69.970,779251311.0,4.600
2014,1.921642,9.498268,15.878319,23.071977,45.311535,20.996480,1.054491e+13,7686.577930,47.135477,69.650,780370287.0,4.630
2015,1.437024,9.194680,16.257812,20.939064,42.734987,17.758121,1.128081e+13,8175.332851,45.681629,69.300,781077009.0,4.650
2016,2.000002,8.945562,16.400466,19.203651,42.138617,16.973520,1.204515e+13,8679.377045,44.437180,68.880,780932880.0,4.560
2017,1.593136,9.248724,16.501761,19.335630,42.549738,17.615222,1.287522e+13,9221.514038,44.543476,68.350,779166682.0,4.470
2018,2.074790,8.890890,16.836538,18.770520,43.313827,18.123865,1.374516e+13,9798.652852,44.219972,67.810,776868988.0,4.310
2019,2.899234,8.329426,17.151012,18.055707,42.669537,17.143713,1.457928e+13,10356.480419,43.496988,67.380,775928449.0,4.560
2020,2.419422,7.924097,17.603798,18.203582,42.572374,15.835369,1.492047e+13,10573.642006,44.227706,65.976,763830073.0,5.000
2021,0.981015,7.798296,16.351205,19.526242,42.682261,16.994449,1.619916e+13,11469.570713,45.274824,67.110,781187865.0,4.550
2022,1.973576,7.517995,16.662699,20.297732,42.355433,17.142988,1.670688e+13,11830.598370,45.560138,65.800,770113477.0,4.980
2023,0.234837,7.638233,17.189142,19.102472,41.129710,17.002721,1.761153e+13,12484.157884,43.242613,65.830,774607590.0,4.670
2024,0.218129,NaN,16.633262,20.022917,40.611162,17.175504,1.848811e+13,13121.676991,43.439922,65.393,773879678.0,4.571